.leftHand {
}

.dreidelContainer {
  position: absolute;
  margin:auto;
  }
  
  .dreidel {  
    position: absolute;
    padding:2px;
  }
  
  .hebrew {
    position: absolute;
    font-size: 48px;
    padding:2px;
    top: 10px;
    bottom: 10px;
    left:50px;
    right:25px;
  }

  .spinButton {
    position:absolute;
    background-color: cyan;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    left:15px;
    top: 325px;
  
  }