.dreidelContainer {
    height: 350px;
    width: 350px;
    position: relative;
    display: block;
  }
  
  .dreidel {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 10px;
    right: 75px;
    
  }
  
  .hebrew {
    font-size: 150px;
    position: absolute;
    bottom: 20px;
    left: 100px;
  }

  .spinButton {
    background-color: cyan;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left:75px;
    position: absolute;
  }