.App {
  text-align: center;
}

.centeredText {
  margin: auto;
  position: relative;
  padding: 10px;
  left: 35%;
}

.centered {
  margin: auto;
  position: absolute;
  left: 20%;
  padding: 10px;
}

.leftHand {
  left: 100px;
  padding: 10px;
  position: absolute;
}

.rightHand {
  left: 500px;
  padding: 10px;
  position: absolute;
}